<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QR_Payment</display-name>
  <welcome-file-list>
    <welcome-file>transReport.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.chinaepay.wx.listener.SocketServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>inquiryOrderServlet</servlet-name>
    <servlet-class>com.chinaepay.wx.servlet.InquiryOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiryOrderServlet</servlet-name>
    <url-pattern>/order/inqOrderSvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportOrderServlet</servlet-name>
    <servlet-class>com.chinaepay.wx.servlet.ExportOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportOrderServlet</servlet-name>
    <url-pattern>/order/expOrderSvlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>refundOrderServlet</servlet-name>
    <servlet-class>com.chinaepay.wx.servlet.RefundOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refundOrderServlet</servlet-name>
    <url-pattern>/order/rfdOrderSvlt</url-pattern>
  </servlet-mapping>
</web-app>